<template name="Footer">
  <footer>

    <div class="container footer">
      <div class="ui grid">
        <div class="three column row">
          <div class="column"><a class ="footer-links" href="https://letumgrow.github.io/"><i class="inverted leaf icon"></i>About LetUmGrow</a></div>
          <div class="column"><a class ="footer-links" href="https://github.com/LetUmGrow/LetUmGrow"><i class="inverted github icon"></i>Github</a></div>
          <div class="column"><a class ="footer-links" href="https://github.com/LetUmGrow/LetUmGrow/issues"><i class="inverted help circle icon"></i>Help</a></div>
        </div>
      </div>
      <div class="footer-links-padding">
      © 2016 LetUmGrow
      </div>
    </div>
  </footer>
</template>