<template name="Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container shadow">
      <a class="header item" href="{{pathFor 'Home_Page'}}"><img class="logo" style="height: 34px; width: 37px; margin-right: 10px;" src="images/letumgrow-logo.png" alt="3 leaf LetUmGrow logo">LetUmGrow</a>
      <div class="ui dropdown item"><i class="content icon"></i><div class="menu">
      <a class="header item" href="{{pathFor 'Home_Page'}}"><img class="logo" style="height: 34px; width: 37px; margin-right: 10px;" src="images/letumgrow-logo.png" alt="3 leaf LetUmGrow logo">LetUmGrow</a>
      <a class="item" href="{{pathFor 'Tutorial_Page'}}" onclick="light()">Tutorial</a>
      <div class="ui dropdown item">
        Plants
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{{pathFor 'Add_Plants_Page'}}">Add Plants</a>
          <a class="item" href="{{pathFor 'Plant_Map_Page'}}">Plant Map</a>
          <a class="item" href="{{pathFor 'List_Plants_Page'}}">List Plants</a>
          <a class="item" href="{{pathFor 'Laau_Page'}}">Plant ID</a>
        </div>
      </div>
      <a class="item" href="{{pathFor 'User_Profile_Page'}}">My Profile</a>
      <a class="item" href="{{pathFor 'Remedy_Page'}}">Remedy</a>
      <a class="item" href="{{pathFor 'FAQ_Page'}}">FAQ</a>
      <!--{{#if currentUser}}-->
      <!--<a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Stuff_Page' }}">Add Stuff </a>-->
      <!--<a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">List Stuff</a>-->
      <!--{{/if}}-->
      {{> Cas_Login }}
      </div></div>
    </div>
  </div>
  <script>
    function light(sw) {
      let pic;
      if(sw == 0){
        pic = "/images/plant-finder.jpg"
        document.getElementById('zero').className = "active step";
        document.getElementById('one').className = "step";
        document.getElementById('two').className = "step";
      }
      else if(sw == 1) {
        pic = "/images/breadfruit-fruit.jpg"
        document.getElementById('one').className = "active step";
        document.getElementById('zero').className = "completed step";
        document.getElementById('two').className = "step";
      }
      else if(sw == 2) {
          pic = "/images/breadfruit-fruit.jpg"
          document.getElementById('two').className = "active step";
          document.getElementById('one').className = "step";
          document.getElementById('zero').className = "step";
        }
        else {
          pic = "/images/breadfruit-fruit.jpg"
          document.getElementById('next').className = "active step";
          document.getElementById('curr').className = "step";
        }
      document.getElementById('image').src = pic;


    }
  </script>
</template>